body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin:0;
}
.Header{
    background-color: #CCCCCC;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Header img{
    height: 70px;
}
.Links{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-around;
}
.Contenedor{
    background-color: #EEEEEE;
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}
.Formulario label{
    margin: 5px;
    width: 100%;
}

.Formulario label input, select{
    width: calc(100% - 20px);
    padding:5px 10px;
    margin: 5px 0;
}
.Boton{
    padding: 10px 15px;
    margin:5px;
    background-color: limegreen;
    border-radius: 10px;
    cursor: pointer;
}

#personas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.Persona{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 15px;
    background-color: aquamarine;
    border-radius: 15px;
}

.Persona span{
    font-size: 18px;
    margin: 5px 10px;
}


.Footer{
    background-color: #CCCCCC;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Footer img{
    height: 40px;
}
.Footer a{
    margin:0 15px;
}